name: CI

on:

  push:
    branches: [ master ]

    tags:
    - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:

  build-test:

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        mlcomp: [mlkit, mlton]

    runs-on: ${{ matrix.os }}

    steps:

      - uses: actions/checkout@v3

      - name: Setup environment
        run: |
          echo "OS=$(uname -s | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV
          echo "RUNHOME=$(echo $HOME)" >> $GITHUB_ENV

      - name: Install smlpkg
        uses: diku-dk/install-smlpkg@HEAD

      - name: Install MLKit
        if: ${{ matrix.mlcomp == 'mlkit' }}
        uses: diku-dk/install-mlkit@HEAD

      - name: Install MLton (linux)
        if: ${{ env.OS == 'linux' && matrix.mlcomp == 'mlton' }}
        run: |
          sudo apt-get install -y mlton

      - name: Install MLton (macos)
        if: ${{ env.OS == 'darwin' && matrix.mlcomp == 'mlton' }}
        run: |
          brew install mlton

      - name: Check
        run: |
          mlkit --version
          smlpkg --version
          mlton
          echo 'github.event_name: ' ${{ github.event_name }}
          echo 'github.ref: ' ${{ github.ref }}

      - name: Build
        run: MLCOMP=${{ matrix.mlcomp }} make clean all

      - name: Run tests
        run: MLCOMP=${{ matrix.mlcomp }} make test

      - name: Make binary distribution
        if: ${{ matrix.mlcomp == 'mlton' }}
        run: make dist

      - name: Upload release
        if: ${{ matrix.mlcomp == 'mlton' && github.event_name == 'push' && contains(github.ref, '/tags/v') }}
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: dist/apltail-bin-dist-${{ env.OS }}.tgz
          tag: ${{ github.ref }}
          overwrite: true
